@model IEnumerable<WebApplicationBodegaPineda.DB.Proveedore>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading text-center" ><h2><b> Productores</b></h2></div>
    <div class="panel-body"><b>Crear nuevos productores</b></div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domicilio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rtn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.claveIhcafe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domicilio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rtn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.claveIhcafe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idProveedor }) |
            @Html.ActionLink("Details", "Details", new { id=item.idProveedor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idProveedor })
        </td>
    </tr>
}

</table>
